body {
    background-color: #f4f8ff;
}

div {
    top: 45%;
    text-align: center;
    font-family: sans-serif;
    color: black;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

input {
    position: fixed;
    top: 60%;
    width: 100%;
    outline: none;
    background: none;
    border: none;
    text-align: center;
    cursor: none;
    font-size: 35px;
    font-family: Arial, sans-serif;
    color: black;
    text-transform: uppercase;
}
